.genesis-skip-link {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 30px;
	z-index: 999999;

	li {
		height: 0;
	}
	a {
		@include sr-only;
		@include sr-only-focusable;
		background-color: $white;
		padding: 1rem;
	}
}
.screen-reader-text {
	@include sr-only;
}
