/* Comment Styles
------------------------------------------------------------ */

#comment {
    width: 100%;
}

.comment-respond,
.entry-comments,
.entry-pings {
    margin-bottom: 40px;
}

.comment-list,
.comment-list .children {
    margin: 20px 0 0;
    padding:0;
}

.comment-respond a,
.entry-comments a {
    border-bottom: 1px solid #ddd;
}

.comment-content {
    clear: both;
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.comment-list>li,
.comment-list .children>li,
.ping-list>li {
    list-style-type: none;
    margin-top: 24px;
    padding:10px;
}

li.comment {
    background-color: $single-comment-bg-color;
    border: 2px solid #fff;
    border-right: none;
}

.comment .avatar {
    margin: 0 16px 24px 0;
}

.entry-pings .reply {
    display: none;
}

li.bypostauthor {
    background-color: $single-comment-post-author-bg-color;
}

.form-allowed-tags {
    background-color: $single-comment-bg-color;
    font-size: 14px;
    padding: 24px;
}
